<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GMGReport.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GMGReport.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <applicationSettings>
    <GMGReport.My.MySettings>
      <setting name="GMGReport_GMGService_GMGService" serializeAs="String">
        <value>http://10.16.1.247/GMGService/GMGService.asmx</value>
      </setting>
    </GMGReport.My.MySettings>
  </applicationSettings>
  <userSettings>
    <GMGReport.My.MySettings>
      <setting name="autorun" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="Country" serializeAs="String">
        <value>TWN,HKG,MYS,SGP,THA,PHL,VNM,IDN</value>
      </setting>
      <setting name="GameFacId" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RunScheduleTime" serializeAs="String">
        <value>1132</value>
      </setting>
      <setting name="RunVBSDate" serializeAs="String">
        <value>2014/12/22</value>
      </setting>
    </GMGReport.My.MySettings>
  </userSettings>
</configuration>